/*  body {
	height: 100vh;
	width: 100vw;
	max-width: 1200px;
	min-width: 480px;
	margin: auto;
	background-color: whitesmoke;
} */

/* .divText{
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
textarea {
  resize : none;
  width: 80%;
  height: 100px;
  font-size: min(max(12px, 3vw), 20px);
}

.infoButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
/* 
button[disabled]{
  opacity:0.3;
} */

/* .divTable {
  height: auto;
  width: 100%;
  display: fixed;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.divRecordTime{
  height: 50px;
  width: 100%;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
} */
#resetStop, #inserTime, #bM{
    color:white;
}

table {
  border: 1px solid #000;
  font-family: 微軟正黑體;
  font-size: 16px;
  width: 80%;
  border: 1px solid #000;
  text-align: left;
  border-collapse: collapse;
  table-layout: auto;
}

th {
  background-color: #009FCC;
  padding: 10px;
  border: 1px solid #000;
  color: #fff;
}

td {
  border: 1px solid #000;
  padding: 5px;
}

.ShareButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

/* .divStopwatch {
  height: 10%;
  width: 100%;
}

.OPbutton{
  border: none;
  color: white;
  padding: 15px;
  border-radius: round;
  text-align: center;
  font-size: min(max(16px, 3vw), 24px);
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5px;
  height: 20%;
  width: 25%;
}


.buttonMaster {
  background-color: #009bff;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: min(max(16px, 3vw), 32px);
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5px;
  height: 98%;
  width: 25%;
}
.buttonTest{
  background-color: green;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: min(max(10px, 3vw), 18px);
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5px;
  height: 60%;
  width: 25%;

}
.buttonAdd {
  background-color: #e6e6e6;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: min(max(10px, 3.0vw), 24px);
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.buttonMain {
  background-color: #009bff;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: min(max(10px, 3vw), 32px);
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 12px;
  width: 48%;
  min-height: 90px;
  max-height: 400px;

} */

/* @media screen and (min-width: 1200px) {
  buttonMain {
     font-size: 36px;
  }
} */

/* .buttonDL {
  background-color: #a1a1a1;
  border: none;
  color: black;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: min(max(10px, 3.0vw), 24px);
  margin: 1px 4px;
  cursor: pointer;
  border-radius: 10px;
} */

/* The Modal (background) */
.mymodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.mymodal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.mymodal-header {
  padding: 2px 16px;
  background-color: #009bff;
  color: white;
}

.mymodal-body {padding: 2px 16px;}

.mymodal-footer {
  padding: 2px 16px;
  background-color: #009bff;
  color: white;
}